{% extends 'base.html' %}
{% block content %}
<div class="container">
    <br>
    {% if user.is_authenticated %}
        <h1>Classroom Calendar</h1>
        <h2>Welcome {{user.username}}</h2>
        <div class="outer">
            <a class="btn btn-info left" href="{% url 'calendar' %}?{{ prev_month }}"><span>이전 달</span> </a>
            <a class="btn btn-info right" href="{% url 'calendar' %}?{{ next_month }}"><span>다음 달</span> </a>
        </div>
        {{calendar}}
    {%endif%}
    {% if not user.is_authenticated %}
        <h1>Welcome, Classroom</h1>
        <h2>로그인 후 이용가능합니다.</h2>
    {%endif%}
</div>
{% endblock %}